
<p>
  <strong>Información:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Eliminar dato', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Estás seguro?' } %>
</p>